<footer class="w-full text-center border-t border-green-500 p-1">

<div class="container">

    <div class="flex justify-center ">
      <a class="ml-3 mr-3 text-green-600" href="https://github.com/svg-stencils/svg-stencils.github.io">Documentation</a>
      <a class="ml-3 mr-3 text-green-600" href="https://github.com/svg-stencils/svg-stencils.github.io#how-to-add-my-stencil-to-the-svg-stencils-library">Add your Stencil</a>
      <a class="ml-3 mr-3 text-green-600" href="https://github.com/svg-stencils/inkscape-svg_stencil_export/releases/latest">Inkscape Extension</a>
    </div>
  </div>

</footer>
