<!DOCTYPE html>
<!-- vim: set ft=html: -->
<html lang="en">
  {{ partial "head.html" . }}

  <body>

<div class="bg-gray-100">
  <header class="sticky top-0 z-30 w-full px-2 py-4 bg-white sm:px-4 shadow-xl">
    <div class="flex items-center justify-between mx-auto max-w-7xl">
      <a href="#">
        <span class="text-2xl font-extrabold text-blue-600">Logo</span>
      </a>
      <div class="flex items-center space-x-1">
        <ul class="hidden space-x-2 md:inline-flex">
          <li><a href="#" class="px-4 py-2 font-semibold text-gray-600 rounded">Home</a></li>
          <li><a href="#" class="px-4 py-2 font-semibold text-gray-600 rounded">Blogs</a></li>
          <li><a href="#" class="px-4 py-2 font-semibold text-gray-600 rounded">About Us</a></li>
          <li><a href="#" class="px-4 py-2 font-semibold text-gray-600 rounded">Contact Us</a></li>

        </ul>
        <div class="inline-flex md:hidden">
          <button class="flex-none px-2 ">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 8h16M4 16h16" />
            </svg>
            <span class="sr-only">Open Menu</span>
          </button>
          <!-- put list item -->
        </div>
      </div>
    </div>
  </header>

  <section class="p-4 mx-auto max-w-7xl">
          <div class="overflow-hidden bg-slate-50"> <div class="aspect-w-16 aspect-h-10"> <img src="'+svgcomp+'" class=""> </div> </div>');
    <div class="mx-auto font-sans">
      <h1 class="text-2xl font-bold">Tailwind CSS sticky header</h1>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam quasi minus maxime reiciendis! Officiis,
        doloremque consectetur nihil ipsum illo, reiciendis, suscipit cumque quae laboriosam nulla ratione ut dolores
        quibusdam voluptatum.
        Tenetur quaerat voluptate animi nam atque repudiandae? Rem officia labore, ipsa, pariatur esse quis hic cum at
        dolor consectetur, accusamus voluptates eligendi dolores voluptatem veniam. Ad cupiditate dignissimos
        perferendis in.
        Ex reiciendis aliquam esse eaque labore modi atque quae optio aspernatur neque, fuga sed illo odit voluptates
        delectus placeat recusandae veritatis repellat, saepe nobis pariatur quis! Sit voluptatibus impedit ullam.
        Mollitia, tempore? Iure dolores nulla earum. Quas deleniti animi distinctio. Suscipit eos hic nostrum
        consequatur sapiente qui nesciunt sed. Quae aut facilis obcaecati sapiente culpa quibusdam excepturi iure, odit
        fugiat.
        Natus mollitia adipisci nam voluptas qui deleniti voluptates sunt obcaecati libero, in inventore iste alias ex
        odit odio. Unde est beatae quis voluptatem quasi magni! Veniam cupiditate iste consequatur numquam.
        Est quo asperiores placeat, laboriosam explicabo ipsam odio architecto tempore, rerum ea ab! Rerum, nulla
        cupiditate, doloremque pariatur corrupti, distinctio atque quos magnam dicta similique labore a voluptatem
        placeat numquam.
        Eius unde qui expedita sit inventore impedit molestiae tempore quibusdam officia, accusantium repellat quod eum
        quasi magni ipsam provident voluptatibus necessitatibus quas aliquam, atque maiores magnam animi, dicta rerum?
        Veniam.
        Rerum magni laboriosam inventore accusantium neque illo iure natus, accusamus animi. Sint quasi odit consequatur
        minus, labore provident deleniti magni alias commodi vero natus nulla illum vitae cupiditate soluta aut?
        Repellat vero minus doloremque soluta expedita nemo laudantium magni culpa sequi, nisi consectetur illo cum odit
        facilis. Unde non facere rem quia doloribus, dignissimos laboriosam nulla fugit quidem dicta autem!
        Perferendis amet quidem quos doloribus necessitatibus, sunt inventore illum ut eum quibusdam tenetur? Provident
        unde, impedit exercitationem ullam vero, doloremque ex autem pariatur omnis quis minus incidunt dolorem quas
        atque!
        A, voluptatum. Commodi ipsa suscipit, facilis nostrum ea officia reiciendis aliquid deserunt cupiditate quos
        exercitationem eum quasi pariatur sint, inventore necessitatibus non vel at nemo nesciunt, consectetur illum
        repellendus. Perspiciatis.
        Culpa architecto officiis reiciendis pariatur deserunt nihil, explicabo perferendis adipisci earum
        necessitatibus numquam facilis expedita omnis asperiores dicta non, ab blanditiis iusto. Dolorem exercitationem
        ullam atque obcaecati repellat. Voluptate, amet!
        Tenetur placeat voluptatem quae commodi incidunt, quisquam repudiandae aperiam? Repellat facilis dolor, esse
        vitae sit distinctio, iste earum vel officiis dolorem aperiam, soluta ipsa omnis. Commodi quasi aliquid iusto
        nostrum.
        Iste perspiciatis veritatis hic quae nesciunt totam asperiores, expedita odio harum! Dolor, molestiae. Vitae
        exercitationem ullam placeat delectus earum esse, eveniet quasi, ea numquam quibusdam vel labore et quae saepe?
        Illum consequatur voluptas est esse vitae fugiat voluptatum quas nam molestiae, quae porro labore veritatis,
        odit in laborum cupiditate numquam neque dignissimos consequuntur. Asperiores ipsam dolore amet id odit tempore.
        Adipisci rem sunt modi dolorum officiis commodi et corrupti, placeat tenetur qui itaque reprehenderit facere,
        saepe ducimus. Aut ipsum quasi perferendis dolorum neque doloribus, odio, reiciendis et quas magnam nostrum.
        Id corporis impedit assumenda, commodi cupiditate optio quos? Facere nesciunt dignissimos reprehenderit cum
        ducimus placeat eaque nemo ex esse quibusdam perspiciatis, ipsum pariatur velit cupiditate mollitia voluptatibus
        error laboriosam quis!
        Mollitia dolorum quos repellat saepe labore corporis, quod soluta magnam? Incidunt, explicabo veritatis officia
        doloremque quia est eligendi, nulla ratione iusto eveniet suscipit sunt dicta, minima deleniti laudantium
        perferendis maxime.
        Alias est ipsa, voluptates earum voluptas, dignissimos recusandae maxime asperiores excepturi facere natus fuga
        quisquam culpa sed. Aspernatur laudantium qui consectetur. Blanditiis perferendis, dolore recusandae nobis
        aliquam suscipit asperiores voluptate.
        Ad vel expedita fuga quas rerum aliquam inventore ut dolorem. Commodi culpa corporis non hic error quidem, nemo
        perspiciatis id unde similique sed, rem blanditiis illum quas eum atque vel.
        Vitae vel laborum cumque. Laborum totam velit recusandae sint odio tenetur, eos ullam adipisci officia quam,
        cupiditate magni hic ut rerum id nihil a error molestias, labore alias quod blanditiis.
        Tenetur distinctio molestiae aperiam, itaque odio ratione molestias aspernatur harum consequatur tempore rem hic
        maxime assumenda sunt nemo, est, accusamus maiores fugit incidunt debitis inventore sint? Provident, consequatur
        facilis! Laudantium!
        Ex ipsa odit quam ea repellat quia unde asperiores, natus illum? Placeat dolorum voluptates ipsam accusamus
        eligendi sed dolore debitis quas totam provident eius fuga inventore omnis doloribus, mollitia nam?
        Labore dolore quo mollitia inventore cumque eum eos at debitis non dolor fugiat, accusantium nesciunt voluptatum
        atque ipsam tenetur sit culpa ratione amet eligendi nihil officiis ipsum impedit nulla? Laudantium?
        Optio sequi distinctio doloremque ex dolorem laborum dolor quae perspiciatis minus a, itaque et. Placeat
        perspiciatis dolores nihil ea quia voluptate, cumque, quod necessitatibus odit illo nesciunt quae quis ab?
        Consectetur, veritatis voluptas quaerat quo quis deleniti, sint odit cum eius suscipit aliquam deserunt. Officia
        molestias quam nihil harum ex modi natus soluta consectetur minus, rerum, temporibus delectus iusto illum?
        Quo, ipsa optio voluptatum quaerat explicabo accusantium harum doloremque consectetur eveniet iste quod
        provident rerum voluptatem autem voluptatibus! Omnis quis repellat voluptas sed explicabo illum ratione
        distinctio! Quidem, corporis itaque!
        Eius et, numquam veniam libero suscipit voluptatibus, beatae aperiam perspiciatis eligendi eos animi maiores
        nobis eum laboriosam modi eveniet voluptate, temporibus incidunt dolore illum. Quas tenetur enim autem hic
        voluptatibus.
        Laborum dolore voluptates quaerat molestiae in dolor doloribus nemo et cupiditate, at consequatur voluptas quasi
        quos, velit maiores omnis hic odit quis illo neque. Nemo iusto harum mollitia animi eos!
        Impedit vitae corporis odit quod. Suscipit quam harum cumque! Provident eius voluptate tempore debitis facere
        tenetur. Illo consequuntur tempora veniam soluta, cumque ullam dolores quo quisquam magni voluptatum nulla
        omnis?</p>
    </div>
  </section>
</div>
  </body>

</html>

